.header {
  margin-top: 20px;
}

.menu {
  display: flex;
  align-items: center;

  @media (max-width: 767px) {
    display: flex;
    justify-content: center;
  }
}

.menu ul {
  list-style: none;
  display: flex;;
  margin: 0;
  margin-top: 30px;
  flex-grow: 0.5;
  justify-content: center;
}

.menu li {
  padding-left: 60px;
  font-weight: 500;
  font-size: 18px;
}

.menu a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.languages {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.languages li {
  padding-left: 15px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.burger-container {
  display: flex;
  justify-content: center;
}

.burger-btn{
  border: none;
  background-color: transparent;

  mat-icon {
  font-size: 30px;
  }
}

::ng-deep .mat-list-item-content {
  justify-content: center;

  a {
    color: black;
  }
}

