<div class="container header">
  <ul class="languages">
    <li (click)="changeSelectedCountryCode('lv')">{{"latvian" | translate}}</li>
    <li (click)="changeSelectedCountryCode('ru')">{{"russian" | translate}}</li>
  </ul>
  <div class="menu">
  <div class="image-container-logo">
    <a [routerLink]="['/']"><img src="../../../../assets/images/autobravo-logo.svg" ></a>
  </div>
  <ul fxHide fxShow.gt-md>
    <li><a (click)="onScrollTo('outTeam')">{{"ourTeam" | translate}}</a></li>
    <li><a (click)="onScrollTo('prices')">{{"prices" | translate}}</a></li>
    <li><a (click)="onScrollTo('apply')">{{"apply" | translate}}</a></li>
    <li><a (click)="onScrollTo('contacts')">{{"contacts" | translate}}</a></li>
    <li><a [routerLink]="['/rules']">{{"rules" | translate}}</a></li>
  </ul>
  </div>
    <div class="burger-container">
      <button class="burger-btn" mat-icon-button fxHide.gt-md (click)="showToolbarMenu()">
        <mat-icon>
          menu
        </mat-icon>
      </button>
    </div>

  <mat-list *ngIf="bShowToolbarMenu" [@inOutAnimation] fxHide.gt-md class="header__nav container">
    <mat-list-item><a href="#ourTeam">{{"ourTeam" | translate}}</a></mat-list-item>
    <mat-list-item><a href="#prices">{{"prices" | translate}}</a></mat-list-item>
    <mat-list-item><a href="#apply">{{"apply" | translate}}</a></mat-list-item>
    <mat-list-item><a href="#contacts">{{"contacts" | translate}}</a></mat-list-item>
  </mat-list>
</div>
