<footer class="footer">
  <div class="container">
    <div>
      <div>
        <div class="list-container">
          <div class="p-2 center-mobile">
            <ul class="list-unstyled">
              <li class="p-2"><a href="tel:+3712771440"><mat-icon>phone_iphone</mat-icon>+37127771440</a></li>
              <li class="p-2"><a href="mailto:infoautobravo@gmail.com"><mat-icon>mail</mat-icon>infoautobravo@gmail.com</a></li>
              <li class="p-2"><a href="https://www.facebook.com/AutoskolaBravo/"><mat-icon>facebook</mat-icon>AutoBravo</a></li>
            </ul>
          </div>
          <div class="center-mobile">
            <img src="../../../../assets/images/autobravo-logo.svg" alt="logo">
          </div>
          <div>
            <ul class="list-unstyled">
              <li class="p-2 address">Turgeņeva iela 21a, 3.stāvs,30. kabinets</li>
              <li class="d-flex p-2 center-mobile">
                <div class="p-2">
                  <div class="p-2">{{"mondayText" | translate}}</div>
                  <div class="p-2">{{"thursdayText" | translate}}</div>
                  <div class="p-2">{{"saturdayText" | translate}}</div>
                </div>
                <div class="p-2">
                  <div class="p-2">14:00-17:00</div>
                  <div class="p-2">14:00-17:00</div>
                  <div class="p-2">10:00-12:00</div>
                </div>
              </li>
              <li>
                <div class="d-flex justify-content-end rekviziti">
                  {{"infoBank" | translate}} SIA "AutoBravo"  Reģ. nr. 40203415305<br/>
                  AS “SEB banka” , UNLALV2X , LV86UNLA0055003146686
                </div>
              </li>
            </ul>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center text-white copyrights">
    © SIA Autoskola AutoBravo {{"copyrights" | translate}}
  </div>
</footer>
