<app-header></app-header>
<div class="container d-flex justify-content-center flex-column">
<h1 class="fw-bold mt-5">IEKŠĒJĀS KĀRTĪBAS UN APMĀCĪBAS NOTEIKUMI</h1>
<p><br></p>
<p class="fw-bold">1. &nbsp; &nbsp; &nbsp; &nbsp; Vispārīgie jautājumi</p>
<p>1.1. &nbsp; &nbsp; &nbsp;Autoskolas Autobravo (turpmāk &ndash; Autoskola) Kursantu iek&scaron;ējās kārtības Noteikumi</p>
<p>(turpmāk &ndash; Noteikumi) sastādīti saskaņā ar Ministru kabineta noteikumiem Nr.358</p>
<p>&amp;quot;Noteikumi par transportlīdzekļu vadītāju apmācību un transportlīdzekļu vadītāju apmācības</p>
<p>programmām&amp;quot; un Nr.103 &bdquo;Transportlīdzekļu vadītāja tiesību iegū&scaron;anas un atjauno&scaron;anas</p>
<p>kārtība un vadītāja apliecības izsnieg&scaron;anas, apmaiņas, atjauno&scaron;anas un iznīcinā&scaron;anas</p>
<p>kārtība&rdquo; (turpmāk - MK noteikumi);</p>
<p>1.2. &nbsp; &nbsp; &nbsp;Noteikumu mērķis ir regulēt un nodro&scaron;ināt Autoskolas pareizu darba organizāciju,</p>
<p>mācību laika pilnīgu un racionālu izmanto&scaron;anu, disciplīnas ievēro&scaron;anu un Kursantu dro&scaron;ību</p>
<p>Autoskolā;</p>
<p>1.3. &nbsp; &nbsp; &nbsp;Noteikumi nosaka:&nbsp;</p>
<p>1.3.1. &nbsp; Kursantu uzvedības un citas prasības, kurus Kursantiem jāievēro Autoskolā un tās</p>
<p>teritorijā;</p>
<p>1.3.2. &nbsp; Kursantu tiesības un pienākumus;</p>
<p>1.3.3. &nbsp; Kārtību, kādā norisinās apmācība;</p>
<p>1.3.4. &nbsp; Apmaksas kārtību;</p>
<p>1.3.5. &nbsp; Dāvanu kartes izmanto&scaron;anas kārtību;</p>
<p>1.3.6. &nbsp; Atsauksmju publikācijas kārtību;</p>
<p>1.3.7. &nbsp; Autoskolas darbības organizācijas jautājumus;</p>
<p>1.3.8. &nbsp; Citus jautājumus;</p>
<p>1.4. &nbsp; &nbsp; &nbsp;MK noteikumu Nr.358, Nr.103 un citu Autoskolas darbību reglamentējo&scaron;o</p>
<p>dokumentu ievēro&scaron;ana visiem Kursantiem ir obligāta.</p>
<p class="fw-bold">2. &nbsp; &nbsp; &nbsp; &nbsp; Biroja darba organizācija</p>
<p>2.1. &nbsp; &nbsp; &nbsp;Autoskolas biroja darba laiks: pirmdienas, ceturtdienas: 14.00- 17.00, sestdienās</p>
<p>10.00 &ndash; 12.00. Ja darba laiks kaut kādu iemeslu dēļ mainās, Autoskola par to laicīgi paziņo,</p>
<p>izliekot informāciju uz biroja durvīm, paziņojot mājas lapā vai sociālajos tīklos (Facebook,</p>
<p>Instagram);</p>
<p><br></p>
<p>2.2. &nbsp; &nbsp; &nbsp;Biroja kontaktu informācija: tālrunis: 27771440; e-pasts: <a data-fr-linked="true" href="mailto:infoautobravo@gmail.com">infoautobravo@gmail.com</a>;</p>
<p>adrese Turgeņeva iela 21a, 30 kab.</p>
<p>2.3. &nbsp; &nbsp; &nbsp;Gadījumos, kad Kursants nav atbildējis Autoskolas pārstāvim vai atzvanījis uz</p>
<p>Autoskolas biroja norādītājiem tālruņu numuriem, Autoskola neuzņemas atbildību par sekām</p>
<p>sakarā ar Kursanta neinformē&scaron;anu par izmaiņām apmācību procesā, vai citiem svarīgiem</p>
<p>jautājumiem;</p>
<p class="fw-bold">3. &nbsp; &nbsp; &nbsp; &nbsp; Pieteik&scaron;anās un līguma noslēg&scaron;anas kārtība</p>
<p>3.1. &nbsp; &nbsp; &nbsp;Kursants izrāda vēlmi mācīties Autoskolā, atsūtot pieteikumu apmācībām</p>
<p>Autoskolas vietnē <a data-fr-linked="true" href="mailto:infoautobravo@gmail.com">infoautobravo@gmail.com</a>, izmantojot e-pastu vai sazinoties pa tālruni,</p>
<p>sniedzot Autoskolai visu pieprasīto informāciju;</p>
<p>3.2. &nbsp; &nbsp; &nbsp;Pieteicoties apmācībām Autoskolā, Kursants apliecina, ka ir iepazinies ar &scaron;iem</p>
<p>Noteikumiem (pieejami vietnē: https:// /) un apņemas ievērot Noteikumu prasības);</p>
<p>3.3. &nbsp; &nbsp; &nbsp;Pamatojoties uz Kursanta pieteikumu apmācībām, Autoskola sastāda un nosūta uz</p>
<p>Kursanta norādīto e-pastu Apmācības līgumu, kurā tiek atspoguļoti būtiskākie Autoskolas</p>
<p>apmācību noteikumi, t.sk. līguma priek&scaron;mets, apmācību pakalpojumu izcenojumi un</p>
<p>apmaksas kārtība;</p>
<p>3.4. &nbsp; &nbsp; &nbsp;Līgums stājas spēkā pēc tā abpusējas parakstī&scaron;anas brīža, t.sk. izmantojot dro&scaron;u</p>
<p>elektronisko parakstu;</p>
<p>3.5. &nbsp; &nbsp; &nbsp;Apmācības līgums nevar būt noslēgts &scaron;ādos gadījumos:</p>
<p>3.5.1. &nbsp; ja Kursantam ir piemērots administratīvais sods &ndash; aizliegums noteiktu laiku iegūt</p>
<p>transportlīdzekļu vadī&scaron;anas tiesības &ndash; vai atņemtas transportlīdzekļu vadī&scaron;anas tiesības;</p>
<p>3.5.2. &nbsp; ja Kursantam ir piemērots transportlīdzekļu vadī&scaron;anas tiesību izmanto&scaron;anas</p>
<p>aizliegums;</p>
<p>3.5.3. &nbsp; ja Kursants nav sasniedzis 16 gadu vecumu;</p>
<p>3.5.4. &nbsp; ja Kursantam ir konstatētas medicīniskās pretindikācijas transportlīdzekļu vadī&scaron;anai;</p>
<p>3.5.5. &nbsp; ja Kursantam nav tiesību uzturēties Latvijā un ir pie&scaron;ķirts personas kods.</p>
<p>3.6. Autoskolai nav pienākuma sekot līdzi Līguma saistību izpildei no Kursanta puses un</p>
<p>atgādināt par to (piem., par laicīgu maksājuma veik&scaron;anu, nodarbību apmeklē&scaron;anu utt.);</p>
<p><br></p>
<p class="fw-bold">4. &nbsp; &nbsp; &nbsp; &nbsp; Apmaksas kārtība</p>
<p>4.1. &nbsp; &nbsp; &nbsp;Kursants apņemas veikt Autoskolas noteiktos maksājumus, Līgumā norādītā kārtībā</p>
<p>un apmērā, atbilsto&scaron;i Autoskolas pakalpojumu cenrādim, kas pieejams Autoskolas tīmekļa</p>
<p>vietnē: www.</p>
<p>4.2. &nbsp; &nbsp; &nbsp;Līguma slēg&scaron;anas brīdī Kursants veic reģistrācijas maksu, kas garantē vietu</p>
<p>izvēlētajā mācību grupā, pie nosacījuma, ka Kursanta pieteikuma iesnieg&scaron;anas brīdī,</p>
<p>mācību grupā ir brīvas vietas;</p>
<p>4.3. &nbsp; &nbsp; &nbsp;Autoskolas brauk&scaron;anas eksāmens tiek kārtots saskaņā ar Autoskolas eksāmenu</p>
<p>kārto&scaron;anas noteikumiem un notiek Autoskolas inspektoru klātbūtnē. Pēc eksāmena cenas</p>
<p>samaksas Autoskola nosūtīs/nodos Kursantam eksāmena kodu, kuru nosaucot</p>
<p>inspektoram, Kursants saņems Autoskolas brauk&scaron;anas eksāmena pakalpojumu. Eksāmens</p>
<p>ir jāapmaksā 1 darba dienu iepriek&scaron;.</p>
<p>4.4. &nbsp; &nbsp; &nbsp;Pirmās medicīniskās palīdzības kursi - saskaņā ar Autoskolas mājaslapā www.</p>
<p>norādīto cenrādi;</p>
<p>4.5. &nbsp; &nbsp; &nbsp;Brauk&scaron;anas mācību laukuma izmanto&scaron;ana - atbilsto&scaron;i mācību laukuma cenrādim.</p>
<p>4.6. &nbsp; &nbsp; &nbsp;Pēc Līguma noslēg&scaron;anas, Autoskola Kursantam iemaksāto naudu par apmācībām</p>
<p>atpakaļ neatgriež, izņemot gadījumus, ja Kursantam ir tiesisks attaisnojums tam, kāpēc</p>
<p>netika uzsāktas apmācības Autoskolā;</p>
<p class="fw-bold">5. Apmācību procesa organizācija</p>
<p>5.1. Katrs Kursants ir atbildīgs par sava apmācības procesa ievēro&scaron;anu. Autoskola nenes</p>
<p>atbildību par Kursanta apmācību nodarbību kavē&scaron;anu, maksājumu neveik&scaron;anu un/vai</p>
<p>kavē&scaron;anu, kā arī citiem apmācību procesa pārkāpumiem, kuri var ietekmēt mācību procesu;</p>
<p>5.2. Nodarbības notiek atkarībā no izvēlētās grupas vai apmācības veida, saskaņā ar</p>
<p>nodarbību grafiku. Kursants Autoskolā ierodas savlaicīgi, lai nodarbībai uzsākoties,</p>
<p>Kursants atrastos mācību telpā netraucētu pasniedzējam sākt apmācības;</p>
<p>5.3. Ja nodarbība tiek kavēta vairāk par 15 minūtēm no nodarbības sākuma, Kursanta</p>
<p>nodarbību apmeklējums netiek reģistrēts CSDD sistēmā. Kavētā nodarbība Kursantam ir</p>
<p>jānoklausās kopā ar citu grupu, iepriek&scaron; veicot &nbsp;apmaksu par kavēto nodarbību: citā mācību</p>
<p>grupā &ndash; 10,00 EUR; individuāli - 50,00 EUR;</p>
<p>5.4. Nodarbību grafiks tiek paziņots pirmajā teorijas nodarbībā. Nodarbību grafiks var tikt</p>
<p>mainīts. Kursants apmeklē visas nodarbību sarakstā paredzētās nodarbības;</p>
<p>5.5. Apmācība tiek nodro&scaron;ināta pamatojoties uz rakstisku līgumu, kur&scaron; noslēgts starp</p>
<p>Kursantu un Autoskolu, vai arī, gadījumā, ja Kursants izvēlas apgūt arī pirmās palīdzības</p>
<p>pamatzinā&scaron;anu programmu &ndash; uz līguma ar Apmacītājorganizācijas, ar kuru sadarbojas</p>
<p>Autoskola, pamata;</p>
<p>5.6. Teorētiskos priek&scaron;metus pasniedz pasniedzēji, kuriem ir attiecīgo priek&scaron;metu</p>
<p>pasniedzēja kvalifikācija, ko apstiprina apliecība.</p>
<p><br></p>
<p>5.7. Ja Kursants kavē vairākas nodarbības vai maksājumus, Autoskola ir tiesīga atskaitīt</p>
<p>Kursantu;</p>
<p>5.8. Apmācība tiek nodro&scaron;ināta gan latvie&scaron;u, gan krievu. Apmācību valodas izvēle ir</p>
<p>atkarīga no izvēlētās grupas un apmācību veida;</p>
<p>5.9.Kursants drīkst atteikties (pa tālr. vai e-pastu) no rezervētās atkārtotās teorētiskās</p>
<p>nodarbības - vismaz 1 darba dienu iepriek&scaron;.</p>
<p class="fw-bold">6. Teorijas eksāmens</p>
<p>6.1. &nbsp; &nbsp; &nbsp;Teorētiskās apmācības ir jāpabeidz viena gada laikā, par ko Autoskola veiks</p>
<p>atzīmes CSDD reģistrā. Ja teorētiskā Apmācība pilnībā netiek pabeigta minētajā termiņā</p>
<p>(netiek reģistrēts beigu datums CSDD sistēmā), tā jāveic atkārtoti, reģistrējoties Autoskolas</p>
<p>jaunā mācību grupā;</p>
<p>6.2. Autoskolas eksāmens teorijā jānokārto 15 dienu laikā pēc teorētiskās apmācības</p>
<p>pabeig&scaron;anas, vai 18 gadu vecuma sasnieg&scaron;anas;</p>
<p>6.3. Kursantam ir jāpiesakās teorijas eksāmenam Autoskolā, sazinoties pa tālr.27771440;</p>
<p>6.4. Pirms pieteikties eksāmenam, Kursantam ir jāpārliecinās, ka visas finansiālās saistības</p>
<p>ar Autoskolu ir nokārtotas un visas teorijas nodarbības bija apmeklētas;</p>
<p>6.5. Eksāmens teorijā CSDD jānokārto 15 darba dienu laikā pēc Autoskolas atļaujas</p>
<p>eksāmena kārto&scaron;anai reģistrācijas CSDD. Gadījumā, ja Kursants nenokārto eksāmenu</p>
<p>teorijā CSDD 15 darba dienu laikā, Autoskola anulē atļauju eksāmena kārto&scaron;anai CSDD, un</p>
<p>Kursantam atkārtoti jākārto Autoskolas eksāmens teorijā;</p>
<p>6.6. Eksāmens teorijā tiek kārtots klātienē, Turgeņeva iela 21a, Rīgā.</p>
<p>6.7. Eksāmens satur 30 (A, B kat.) jautājumus un drīkst pieļaut kopā ne vairāk kā 1 kļūdu.</p>
<p class="fw-bold">7. Brauk&scaron;anas apmācība</p>
<p>7.1. Uzsākt B kat. praktiskās brauk&scaron;anas nodarbības var, ja pastāv visi sekojo&scaron;ie</p>
<p>priek&scaron;nosacījumi:</p>
<p>7.1.1. Kursantam ir izieta medicīniskā komisija un ir saņemta brauk&scaron;anas mācību atļauja</p>
<p>(baltās tiesības). Brauk&scaron;anas mācību atļauju var saņemt CSDD;</p>
<p>7.1.2. Kursants pēc 3 teorijas nodarbībām ir atguvis Ceļu satiksmes noteikumu</p>
<p>pamatzinā&scaron;anas (noteikumus par priek&scaron;rocības, rīkojuma un aizlieguma grupu ceļa zīmēm,</p>
<p>ceļu satiksmes regulē&scaron;anu, brauk&scaron;anas uzsāk&scaron;anu un brauk&scaron;anas virziena maiņu,</p>
<p>transportlīdzekļu izkārtojumu uz brauktuves un brauk&scaron;anu krustojumos);</p>
<p>7.2. Pārējo transportlīdzekļu vadītāju kategoriju Kursanti drīkst uzsākt brauk&scaron;anas</p>
<p>nodarbības, kad ir izieta medicīniskā komisija;</p>
<p><br></p>
<p>7.3. Brauk&scaron;anu māca instruktori, kuriem ir atbilsto&scaron;ā kvalifikācija un instruktora apliecība, ar</p>
<p>mācību transportlīdzekli, kas atbilst MK noteikumos Nr.358 minētajām prasībām, ievērojot</p>
<p>MK noteikumu Nr.358 prasības;</p>
<p>7.4. Vienas praktiskās brauk&scaron;anas mācību stundas (1 akadēmiskā stunda) ilgums ir 45</p>
<p>minūtes. Praktiskās brauk&scaron;anas nodarbība ilgst 2 akadēmiskās stundas;</p>
<p>7.5. Praktiskās brauk&scaron;anas apmācības ilgums Kursantam vienas dienas laikā nedrīkst</p>
<p>pārsniegt divas akadēmiskās stundas;</p>
<p>7.6. Sākotnējā brauk&scaron;anas apmācība tiek organizēta tā, lai neapdraudēt citus ceļu</p>
<p>satiksmes dalībniekus. Mācību braucienus pa ceļiem drīkst veikt tikai tad, ja Kursants ir</p>
<p>pietiekami labi apguvis brauk&scaron;anas iemaņas;</p>
<p>7.7. Minimālais praktisko nodarbību skaits ir noteikts MK noteikumos Nr. 358 , bet lēmumu</p>
<p>par Kursanta praktisko apmācību pabeig&scaron;anu pieņem instruktors;</p>
<p>7.8. Brauk&scaron;anas instruktors Kursantam ir jāizvēlas no Autoskolas piedāvātā saraksta vietnē</p>
<p>- www. . Ja Kursants veic apmācību ar cilvēku, kuram nav instruktora apliecības, vai ar</p>
<p>instruktoru, kur&scaron; nesadarbojās ar Autoskolu, Autoskola nenes atbildību par Kursanta</p>
<p>apmācībās procesu un līguma 2. punktā norādītā teorētiskās apmācības cena un pie&scaron;ķirtās</p>
<p>atlaides netiek piemērotas, un Kursantam jāapmaksā Apmācības reģistrāciju, dokumentu</p>
<p>noformē&scaron;anu, teoriju, Autoskolas teorētisko eksāmenu un brauk&scaron;anas obligātās</p>
<p>nodarbības.;</p>
<p>7.9. Pirmās praktiskās brauk&scaron;anas nodarbības laikā, instruktors informē Kursantu par</p>
<p>apmācības kartību un vienojās par tālāku apmācības procesu;</p>
<p>7.10. Apmaksu par brauk&scaron;anas apmācību Kursants veic Autoskolā;</p>
<p>7.11. Instruktoru var mainīt jebkurā laikā, laicīgi (vismaz 1 darba dienu pirms nodarbības)</p>
<p>atsakoties no nodarbībām pie iepriek&scaron;ēja instruktora;</p>
<p>7.12. Par instruktora ap&scaron;aubāmu vai nekorektu uzvedību Kursantam nekavējoties ir</p>
<p>jāinformē Autoskola;</p>
<p>7.13. Pēc katras brauk&scaron;anas nodarbības, instruktors patstāvīgi veic brauk&scaron;anas nodarbības</p>
<p>reģistrāciju CSDD sistēmā. Gadījumā, ja instruktora veikti ieraksti ir nekorekti, Kursantam</p>
<p>nekavējoties par to jāinformē Autoskola;</p>
<p>7.14. Kursants drīkst atteikties (pa tālr. vai e-pastu) no skolas brauk&scaron;anas nodarbības &ndash;</p>
<p>vismaz 1 darba dienu iepriek&scaron;, pretējā gadījumā nauda par samaksāto brauk&scaron;anas</p>
<p>nodarbību netiks ieskaitīta nākamai brauk&scaron;anas nodarbībai;</p>
<p class="fw-bold">8. Brauk&scaron;anas eksāmens</p>
<p>8.1. Kad Kursantam ir pilnībā pabeigta brauk&scaron;anas apmācība un nokārtots teorijas</p>
<p>eksāmens Autoskolā, Kursants kārto Autoskolas brauk&scaron;anas eksāmenu;</p>
<p><br></p>
<p>8.2. Eksāmens notiek saskaņā ar Autoskolas Iek&scaron;ējās kārtības noteikumiem un notiek</p>
<p>identiski CSDD brauk&scaron;anas eksāmenam.</p>
<p>8.3. Eksāmena brauk&scaron;anas daļu pieņem Autoskolas nozīmēti inspektori, kuriem ir atbilsto&scaron;ā</p>
<p>kvalifikācija un instruktora apliecība, ar mācību transportlīdzekli, kas atbilst MK noteikumos</p>
<p>Nr.358 minētajām prasībām;</p>
<p>8.4. Brauk&scaron;anas eksāmens notiek saskaņā ar MK noteikumiem Nr.358;</p>
<p>8.5. Pieteikties uz eksāmenu var zvanot uz biroju pa tālr. 27771440;</p>
<p>8.6. Uz eksāmenu ir jāierodas 5 minūtes pirms eksāmena sākuma. Eksāmens ilgst 45</p>
<p>minūtes, bet rupjas kļūdas gadījumā, eksāmens nekavējoties tiek apturēts un netiek</p>
<p>ieskaitīts;</p>
<p>8.8. Atteikties no brauk&scaron;anas eksāmena var vismaz 1 darba dienu iepriek&scaron; par to paziņojot</p>
<p>Autoskolai. Gadījumā, ja Kursants laicīgi neatteicās no pakalpojuma, Autoskola ir tiesīga</p>
<p>iekasēt naudu par pakalpojumu pilnā apmērā;</p>
<p>8.9. Ja kursants kavē eksāmena sākumu vairāk, nekā 5 minūtes, &nbsp;eksāmens nekavējoties</p>
<p>tiek apturēts netiek ieskaitīts;</p>
<p>8.10. Kursants ir tiesīgs apstrīdēt brauk&scaron;anas eksāmena rezultātus nedēļas laikā no</p>
<p>eksāmena kārto&scaron;anas dienas, atzīmējot eksāmena protokolā - nepiekrītu un nosūtot</p>
<p>Autoskolai pa e-pastu attiecīgu iesniegumu brīvā formā;</p>
<p>8.11. Autoskola apņēmās 14 darba dienu laikā izvērtēt eksāmena gaitu un pieņemt lēmumu;</p>
<p class="fw-bold">9. Kursanta tiesības un pienākumi</p>
<p>9.1. Kursantam ir tiesības brīvi izvēlēties apmācības valodu un grupu, kurā klausīties teoriju;</p>
<p>9.2. Kursantam ir tiesības brīvi izvēlēties instruktoru no Autoskolas piedāvātā saraksta, pie</p>
<p>kura notiks brauk&scaron;anas apmācība;</p>
<p>9.2.1. no Pirmās palīdzības kursiem vismaz 1 darba dienas laikā pirms Apmācības procesa</p>
<p>uzsāk&scaron;anas dienas;</p>
<p>9.2.2. no rezervētās atkārtotās teorētiskās nodarbības vismaz 1 darba dienu iepriek&scaron;;</p>
<p>9.2.3. no teorētiskās Apmācības &nbsp;- 2 darba dienas laikā pirms Apmācības procesa</p>
<p>uzsāk&scaron;anas dienas;</p>
<p>9.2.4. no brauk&scaron;anas nodarbības vai eksāmena - vismaz 1 darba dienu iepriek&scaron;.</p>
<p>9.4. Gadījumā, ja Kursants laicīgi neatteicās no augstāk minētiem pakalpojumiem,</p>
<p>Autoskola ir tiesīga iekasēt naudu no Kursanta par &scaron;iem pakalpojumiem pilnā apmērā;</p>
<p>9.5. Kursants apņemas apgūt Apmācību viena gada laikā, par ko Autoskola veiks atzīmes</p>
<p>reģistrā. Ja teorētiskā Apmācība pilnībā netiek pabeigta minētajā termiņā, tā jāveic atkārtoti,</p>
<p><br></p>
<p>reģistrējoties Autoskolas jaunā mācību grupā. Teorētiskā apmācība skaitās pabeigta, kad</p>
<p>Kursants nokārto Autoskolas teorētisko eksāmenu. Autoskolas eksāmens teorijā jānokārto</p>
<p>20 dienu laikā pēc teorētiskās apmācības pabeig&scaron;anas, vai 18 gadu vecuma sasnieg&scaron;anas.</p>
<p>9.6. Visas saistības ar Autoskolu (izņemot autoskolas brauk&scaron;anas eksāmena apmaksu) ir</p>
<p>jānokārto līdz teorijas eksāmena kārto&scaron;anai;</p>
<p>9.7. Ja Kursants vēlas izbeigt līgumu ar Autoskolu pirms termiņa, tad līdz teorijas</p>
<p>eksāmenam Kursantam ir jāuzraksta iesniegums, norādot līguma izbeig&scaron;anas iemeslu;</p>
<p>9.8. Ja Kursantam ir pretenzijas par Autoskolas pakalpojumu kvalitāti, pasniedzēju vai</p>
<p>instruktora darbu, tad Kursantam nekavējoties &nbsp;rakstiski ir jāinformē par to Autoskola.</p>
<p>Autoskola sniegs atbildi rakstiski Latvijas Republikas tiesību aktos noteiktajā kārtībā.</p>
<p class="fw-bold">10. Pu&scaron;u atbildība</p>
<p>10.1. Parakstot līgumu ar Autoskolu vai piesakoties attālināti nodarbībām, Kursants</p>
<p>apliecina, ka ir iepazinies ar iek&scaron;ējās kārtības un apmācības Noteikumiem un piekrīt tos</p>
<p>ievērot;</p>
<p>10.2. Autoskola ir tiesīga izbeigt līgumu pirms termiņa un atteikties no Kursanta apmācības,</p>
<p>ja Kursants neievēro Autoskolas Iek&scaron;ējās kārtības un apmācības Noteikumus;</p>
<p>10.3. Autoskolai ir tiesības vienpusēji grozīt līgumu, paziņojot par to rakstiski ne vēlāk, kā 10</p>
<p>dienu laikā;</p>
<p>10.4. Autoskolai ir tiesības izbeigt noslēgto līgumu ar Kursantu bez iepriek&scaron;ēja brīdinājuma,</p>
<p>ja Kursants sniedzis nepatiesu informāciju līguma slēg&scaron;anas brīdī.</p>
<p class="fw-bold">11. Pirmās palīdzības kursi</p>
<p>11.1. Kursantam, kas vēlas iegūt A, B, BE, kategorijas transportlīdzekļu vadītāju</p>
<p>kvalifikāciju, ir nepiecie&scaron;ams iziet pirmās palīdzības mācību kursus. No &scaron;iem kursiem ir</p>
<p>atbrīvotas personas, kas jau ir pabeigu&scaron;as pirmās palīdzības mācību kursus, vai kurām ir</p>
<p>vidējā vai augstākā medicīniskā izglītība vai kuras mācās attiecīgās izglītības iestādēs.</p>
<p>&Scaron;āda gadījumā Kursantam, iesniedzot CSDD &nbsp;izglītības pabeig&scaron;anas dokumenta kopiju vai</p>
<p>izziņu no attiecīgās mācību iestādes, jāsaņem CSDD apstiprinājums par pirmās palīdzības</p>
<p>kursu ieskaitī&scaron;anu;</p>
<p>11.2. Autoskola piedāvā iespēju iziet pirmās palīdzības kursus pie Apmacītājorganizācijas,</p>
<p>ar kuru sadarbojas;</p>
<p>11.3. Kursants var brīvi izvēlēties organizāciju pirmās palīdzības kursu pakalpojumu</p>
<p>saņem&scaron;anai;</p>
<p>11.4. Autoskolai nav pienākuma organizēt pirmās palīdzības kursus saviem Kursantiem, bet</p>
<p>savu iespēju robežās, Autoskola centīsies tos nodro&scaron;ināt;</p>
<p>11.5. Pirmās palīdzības kursi skaitās nokārtoti un sertifikāts tiek izsniegts pēc visu attiecīgu</p>
<p>maksājumu veik&scaron;anas, praktiskās daļas un veiksmīgas teorijas eksāmena nokārto&scaron;anas;</p>
<p><br></p>
<p>11.6. Kursants drīkst atteikties (pa tālr. vai e-pastu) no Pirmās palīdzības kursiem - vismaz 1</p>
<p>darba dienu iepriek&scaron;;</p>
<p class="fw-bold">12. Uzvedības noteikumi</p>
<p>12.1. Autoskolas telpās, kāpņu telpās un nodarbībās kategoriski aizliegts lietot alkoholiskos</p>
<p>dzērienus, smēķēt un lietot narkotiskās vielas;</p>
<p>12.2. Kursantam jāievēro pārējo klausītāju tiesības un nedrīkst traucēt apmācību gaitu;</p>
<p>12.3. Nodarbību laikā jāievēro disciplīna un klusums. Nodarbību laikā aizliegts lietot mobilos</p>
<p>telefonu, CD, DVD u.c. elektroniskas ierīces, jo ierīču lieto&scaron;ana traucē mācību procesam;</p>
<p>12.4. Kursantam jāizturas ar cieņu pret pasniedzējiem, personālu, saviem grupas biedriem</p>
<p>un citiem klausītājiem;</p>
<p>12.5. Nodarbībās Kursantam jāpilda pasniedzēja norādījumi un uzdevumi;</p>
<p>12.6. Kursantam saudzīgi jāizturas pret Autoskolas inventāru, mācību līdzekļiem un telpu</p>
<p>aprīkojumu. Inventāra, mācību līdzekļu un telpas sabojā&scaron;anas gadījumā Kursants par to</p>
<p>paziņo pasniedzējam, administrācijai vai Autoskolas vadībai un atlīdzina skolai nodarītos</p>
<p>zaudējumus.</p>
<p class="fw-bold">13. Atsauksmes</p>
<p>13.1. Atsauksmes tiek publicētas mājaslapā 5 darba dienu laikā, pie nosacījuma, ka</p>
<p>informācija atbilst patiesībai;</p>
<p>13.2. &nbsp;Atstājot atsauksmi mūsu saitē, jānorāda korekta kontaktinformācija, lai</p>
<p>nepiecie&scaron;amības gadījumā, Autoskola varētu sazināties ar atsauksmes autoru;</p>
<p>13.3. Autoskola var sazināties ar jebkuru Kursantu, kur&scaron; atstāja atsauksmi, lai saņemtu</p>
<p>vairāk informācijas pakalpojumu kvalitātes kontroles un uzlabo&scaron;anas nolūkos;</p>
<p>13.4. Netiek publicētas atsauksmes, kurās:</p>
<p>13.4.1. tiek izmantota nenormatīva leksika;</p>
<p>13.4.2. tiek izrādīta agresija;</p>
<p>13.4.3. tiek skartas politiskās, seksuālas un reliģiozas tēmas;</p>
<p>13.4.4. tiek izmantota ap&scaron;aubāma vai nepatiesa informācija.&nbsp;</p>
<p>&nbsp;</p>
<p><br></p>
<p class="fw-bold">14. Datu apstrādes un glabā&scaron;anas politika</p>
<p>14.1. Autoskola ir tiesīga veikt Kursanta datu apstrādi (ievāk&scaron;anu, uzglabā&scaron;anu, reģistrāciju,</p>
<p>u.c.). Datu apstrādes mērķis ir Kursantu uzskaite pakalpojumu snieg&scaron;anai. Kursants piekrīt</p>
<p>savu datu nodo&scaron;anai un apstrādei minēto mērķu sasnieg&scaron;anai;</p>
<p>14.2. Personas dati netiek nodoti tre&scaron;ajai personai, izņemot gadījumus, kad tam ir piekritis</p>
<p>Kursants.</p>
<p class="fw-bold">15. Pārējie noteikumi</p>
<p>15.1.Noteikumus, to grozījumus un papildinājumus apstiprina Autoskolas direktors;</p>
<p>15.2.Noteikumi stājas spēkā ar to apstiprinā&scaron;anas dienu.</p>
</div>
<app-footer></app-footer>
