<app-header></app-header>
<div class="container-fluid main">
  <div class="background"></div>
  <div class="container info">
  <div class="text-main">{{"headerText1" | translate}}<br> {{"headerText2" | translate}}</div>
  <div class="main-button">
    <a href="#apply" class="btn">
      {{"applyToLessons" | translate}}
    </a>
  </div>
  </div>
  <div class="image">
    <img src="../../../assets/images/audi-a3.png">
  </div>
</div>
<div class="container ourTeam-container">
  <h1 id="ourTeam" class="text-center mt-5 fw-bold fs-2">{{"ourTeam" | translate}}</h1>
  <h2 class="text-center mt-4 mb-5">{{"instructors" | translate}}</h2>
  <app-instructors></app-instructors>
  <div id="prices" class="mt-6 d-flex flex-column">
    <h1 class="text-center fw-bold fs-2">{{"prices" | translate}}</h1>
    <div class="d-flex justify-content-between align-items-center mt-5">
    <div class="d-flex align-items-center mt-4">
     <mat-icon class="icon-book">receipt_long</mat-icon>
     <h1 class="fw-bold fs-3">{{"theory" | translate}}</h1>
    </div>
      <div class="euro-container">
        <mat-icon class="euro">euro_symbol</mat-icon>
      </div>
    </div>
    <app-courses class="mt-4"></app-courses>
  </div>
</div>
<h1 class="text-center fw-bold fs-2 mt-5">{{"schedule" | translate}}</h1>
<div class="container schedule-container">
  <div class="background"></div>
  <app-schedule class="schedule"></app-schedule>
</div>
<div id="apply" class="container apply-container">
  <app-apply></app-apply>
</div>
<app-footer id="contacts"></app-footer>
